.nav-item{
    display: inline-block;
}
li{
    color: #000!important;
}
a {
    color:white;
    text-decoration: none;
    background-color: transparent;
}
.main{
    width: 60%;
    margin: auto;
    height: 100%;
    display: flexbox;
}

.image{
    display: inline-block;
    width: 40%;
}

.image img{
    width: 100%;
}

.about{
    width: 50%;
    display: inline-block;
    
}
.lesson{
    margin: 5%;
    padding: 1%;
    background-color: darkcyan;
}